.card-container{
   
    height: 700px;
    overflow: scroll; 
    display: grid;
    padding: 1rem;
    
    grid-template-columns: repeat(2,minmax(45%,1fr));
    grid-row-gap: 8%;
    grid-column-gap: 8%;

    grid-auto-rows: minmax(32rem, 32rem);
}
.card-container::-webkit-scrollbar{
    display: none;
}

.card{
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 3.5rem;
    border-radius: 5rem;
}

.project__card{

    &:nth-child(4n+1){
        background-color: $blue-light-color;
    }
    &:nth-child(4n+1) .progress-meter::after{
        background-color: $blue-color;
    }
    &:nth-child(4n+1) .btn{
        color: $blue-color;
    }
    &:nth-child(4n+1) .dotss{
        fill: $blue-color;
    }
   
    &:nth-child(4n+2){
        background-color: $orange-light-color;
    }
    &:nth-child(4n+2) .progress-meter::after{
        background-color: $orange-color;
    }
    &:nth-child(4n+2) .btn{
        color: $orange-color;
    }
    &:nth-child(4n+2) .dotss{
        fill: $orange-color;
    }
   
    &:nth-child(4n+3){
        background-color: $green-light-color;
    }
    &:nth-child(4n+3) .progress-meter::after{
        background-color: $green-color;
    }
    &:nth-child(4n+3) .btn{
        color: $green-color;
    }
    &:nth-child(4n+3) .dotss{
        fill: $green-color;
    }
   
    
    &:nth-child(4n+4){
        background-color: $pink-light-color;
    }
    &:nth-child(4n+4) .progress-meter::after{
        background-color: $pink-color;
    }
    &:nth-child(4n+4) .btn{
        color: $pink-color;
    }
    &:nth-child(4n+4) .dotss{
        fill: $pink-color;
    }
   
   
    
    &--date{
        display: flex;
        justify-content: space-between;
        align-items: center;

        p{
            font-size: 1.5rem;
            color: $grey-dark-1;
        }
        svg{
            cursor: pointer;
            width: 1.5rem; 
            height:1.5rem; 
            transform:rotate(90deg)
        }
    }

    &--name{
        margin: 2rem 0;


        h2{
            text-align: center;
            font-size: 2.2rem;
            text-transform: capitalize; 
            font-weight: 700;
            color: $grey-dark-1;
        }
        
        p{
            font-size: 1.8rem;
            text-transform: capitalize;
            color: $grey-dark-1;
            text-align: center;
        }
    }

    &--progress{
        padding-bottom: 1rem;
        border-bottom: 1px solid white;

        p:first-child{
            font-size: 1.5rem;
            font-weight: 700;
            text-transform: capitalize;
            color: $grey-dark-1;
        }

        .progress-meter{
            list-style: none;
            position: relative;
            margin: 1rem 0;
            background-color:$grey-light;
            width: 100%;
            border-radius: 100px;
            height: 1rem;

            &::after{
                content: '';
                position: absolute;
                top: 0;
                border-radius: inherit;
                height: inherit;
                width:var(--percentage);
                background-color: $blue-color;
            }
            
        }

        p:last-child{
            display: flex;
            justify-content:flex-end;
            align-items: flex-end;
            font-size: 1.5rem;
            font-weight: 700;
            text-transform: capitalize;
            color: $grey-dark-1;
        }
    }

    &--duration{
        display: flex;
        align-items: center;    
        justify-content: space-between;
    }

    &--group{
        
        align-items: center;

        margin-top: 1.5rem;
        position: relative;
        img{
            width: 3.5rem;
            height: 3.5rem;
            border-radius: 50%;

            &:nth-child(2){
                margin-left: -1.2rem;
            }
        }
        
        .dotss{
            width: 3.5rem;
            height: 3.5rem;
            margin-left: 0.5rem;
            fill: $blue-color;
        }
    }

    &--btn{
        margin-top: 1rem;
        

        .btn{
            align-items: center;
            display: block;
            text-align: center;
            font-size: 1.4rem;
            text-decoration: none;
            color: $blue-color;
            font-weight: 700;
            padding: 0.8rem 3rem;
            background-color: white;
            border-radius: 100px;

            &:hover{
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            }
        }

        
    }

    &:hover{
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    }
}