.header{
    display: flex;
    padding: 1.2rem 0;
    justify-content: space-between;
    align-items: center;
    margin-left:10%;
    margin-right: 2%;

    &__logo{
        display: flex;
        align-items: center;

        font-size: 4rem;
        text-decoration: none;
        font-weight: 700;
        color: black;
        margin-right: 15rem;
    }
    &__icon{
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        &--search{
            width: 2.2rem;
            height: 2.2rem;
            fill: $grey-dark-2;
            transform: rotate(-90deg);
            margin-right: 1rem;
        }
    }
    &__search{
        position: relative;
        background-color: white;
        height: 4.2rem;
        width: 50rem;
        border-radius: 100px;
        padding: 2.5rem 1.8rem;
        display: flex;
        align-items: center;
        margin: auto 0;

        &--box{
            background-color: transparent;
            outline: none;
            border: none;
            
            padding: 1.2rem 3.5rem;
            font-size:1.8rem; 
            margin-left: -3.5rem;
        }

    }

    &__left{
        display: flex;
    }

    &__right{
        display: flex;
        align-items: center;

        &--notification > *{
            margin-right: 2rem;
        }
        &--notification{
            position: relative;
            border-right: 2px solid $grey-dark-3;
        }
        &--profile{
            position: relative;
            height: 5rem;
            width: 5rem;
            border-radius: 50%;
            margin-right: 1rem;
            margin-left: 2rem;
            cursor: pointer;
        }
        &--p-name{
            font-size: 2rem;
            font-weight: 700;
            color: $grey-dark-2;
        }
    }

    .notification-dot{
        display: block;
        position: absolute;
        top: 0;
        right: 0.5rem;
        background-color: red;
        width: 0.8rem;
        height: 0.8rem;
        border-radius: 100px;

    }
}