.project-section{
    width: 55%;
    background-color: white;
    border-radius: 6rem;
    padding: 5rem 6rem;
    position: relative;
}

.project__counter{
    display: flex;

    margin: 3rem 0 5rem 0;
    &--numbers{
        position: relative;
        padding-right: 3rem;
        &:not(:first-child){
            padding-left: 3rem;
        }
        
        p:nth-child(1){
            font-weight: 700;
            font-size: 2rem;
        }
        p:nth-child(2){
            color: $grey-dark-2;
            font-size: 1.4rem;
            text-transform: capitalize;
        }
        span{
            width: 8px;
            height: 8px;
            position: absolute;
            bottom: 4px;
            right: 0px;
            border-radius:100px;
            border: 1px solid $grey-dark-3;
        }
    }

    &--icon{
        
        display: flex;
        align-items: flex-start;
        margin-left: auto;
       
        svg{
            cursor: pointer;
            width: 2.5rem;
            height: 2.5rem;
            margin-left: 1.5rem;
        }
    }
}


.section-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1{
        font-weight: 600;
        color: $grey-color;
        font-size: 2.8rem;
    }
    span{
        font-size: 2rem;
        font-weight: 600;
        color: $grey-color;
    }
}